@using SearchingAggregator.Serialization
@model SearchingAggregator.Serialization.SearchResults

@{
    ViewData["Title"] = "Find from Database";
    
    <div style="align-content: center">
        <form asp-action="FindFromDatabase" method="get" class="form-inline">
            <div class="input-group">
                <input type="search" class="form-control mb-2 mr-sm-2" name="query" value="@ViewBag.Query"
                       placeholder="Find from database..." />
                <div class="input-group-append mb-2 mr-sm-2" style="margin-left: 10px">
                    <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Find</button>
                </div>
            </div>
        </form>
        @if (Model != null) {
            <ul class="list-group list-group-flush">
                @foreach (SearchResultItem item in Model.Items){
                    <li class="list-group-item">
                        <a href="@item.Link">@item.Title</a>
                        <p style="color: dimgrey">@item.Snippet</p>
                    </li>
                }
            </ul>
        }
    </div>
}
